{% extends 'casebook/base.html' %}
{% load static %}
{% block content %}
    <div class="row my-5">
        <div class="col-lg-4 col-md-6 text-center text-light my-5">
            <h1 class="mt-5 d-inline-block">Let's Connect</h1>
            <img src="{% static 'images/connect.png' %}" alt="connect" class="d-inline-block ms-2 mb-4" style="width: 60px;">
            <h3 class="mt-5 ">harshkhantwal786@gmail.com</h3>
            <div class="d-flex justify-content-center align-items-center mt-5">
                <a href="https://www.linkedin.com/in/harshkhantwal/" target="_blank">
                    <img class="social-links ms-3" src="{% static 'images/linkedin.png' %}" alt="LinkedIn" width="50px" height="50px"> 
                </a>

                <a href="https://x.com/KhantwalHarsh" target="_blank">
                    <img class="social-links ms-3" src="{% static 'images/twitter.png' %}" alt="Twitter" width="50px" height="50px"> 
                </a>
            </div>
        </div>

        <div class="col-lg-5 col-md-6 offset-lg-1 mt-3">
            <div class="container form-container p-4 rounded shadow-lg" style="background-color: #f8f9fa;">
                <form method="POST">
                    {% csrf_token %}
                    {% if messages %}
                        <div class="alert alert-success" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group mb-3">
                        <label for="name" class="form-label">NameS</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Enter your name" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="phone" class="form-label">Phone No</label>
                        <input type="tel" name="phone" class="form-control" id="phone" placeholder="Enter your phone number" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea name="message" class="form-control" id="message" rows="4" placeholder="Your message" required></textarea>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
